<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Question 1</h1>
      <h4>Which of the following is not a real eCommerce platform?</h4>
      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input type="radio" name="question1" value="1" />
            <label for="question1">Shopify</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input type="radio" name="question1" value="1" />
            <label for="question1">WooCommerce</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input type="radio" name="question1" value="1" />
            <label for="question1">ShopCommerce</label>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input type="radio" name="question1" value="1" />
            <label for="question1">BigCommerce</label>
          </div>
        </div>
      </div>
      <div class="mx-auto" style="width: 55%">
        <button class="btn btn-light" style="width: 45%; margin-right: 2rem">
          Back
        </button>
        <button class="btn btn-success" style="width: 45%" (click)="onNext()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
